# RD Station CRM API V2 - OAuth2
RD_API_BASE_URL=https://api.rd.services/crm/v2
RD_OAUTH_URL=https://api.rd.services/oauth2/token
RD_CLIENT_ID=seu_client_id_aqui
RD_CLIENT_SECRET=seu_client_secret_aqui
RD_ACCESS_TOKEN=
RD_REFRESH_TOKEN=seu_refresh_token_aqui

# PostgreSQL (Azure)
POSTGRES_HOST=dguvi.postgres.database.azure.com
POSTGRES_PORT=5432
POSTGRES_DB=dllokan
POSTGRES_USER=seu_usuario_aqui
POSTGRES_PASSWORD=sua_senha_aqui
POSTGRES_SCHEMA=dw_rdstation

EMAIL_SENDER=
SENDER_PASSWORD=
EMAIL_RECEIVER=